body {
  padding: 0;
}

.tipo-planta {
  background-color: green;
}

.tipo-veneno {
  background-color: purple;
}

.active {
	background: #ccc;
}

.ng-invalid.ng-dirty {
	border-color: tomato;
}

.ng-valid.ng-dirty {
	border-color: #35D060;
}

