<ul>
  <li>
    <strong>HP: </strong>
    <span>{{pokemon.estadisticas.hp}}</span>
  </li>
  <li>
    <strong>Ataque: </strong>
    <span>{{pokemon.estadisticas.ataque}}</span>
  </li>
  <li>
    <strong>Defensa: </strong>
    <span>{{pokemon.estadisticas.defensa}}</span>
  </li>
  <li>
    <strong>Ataque especial: </strong>
    <span>{{pokemon.estadisticas['sp.ataque']}}</span>
  </li>
  <li>
    <strong>Defensa especial: </strong>
    <span>{{pokemon.estadisticas['sp.defensa']}}</span>
  </li>
  <li>
    <strong>Velocidad: </strong>
    <span>{{pokemon.estadisticas.velocidad}}</span>
  </li>
  <li>
    <strong>Total: </strong>
    <span>{{pokemon.estadisticas.total}}</span>
  </li>
</ul>