<ul class="list-group">
  <li class="list-group-item">
    <strong>Tipo: </strong>
    <span class="pull-right">
      <pokemon-tipo></pokemon-tipo>
    </span>
  </li>
  <li class="list-group-item">
    <strong>Altura: </strong>
    <span class="pull-right">
      {{pokemon.altura}}
    </span>
  </li>
  <li class="list-group-item">
    <strong>Peso: </strong>
    <span class="pull-right">
      {{pokemon.peso}}
    </span>
  </li>
  <li class="list-group-item">
    <strong>Habilidades: </strong>
    <ul>
      <li ng-repeat="habs in pokemon.habilidades">{{habs}}</li>
    </ul>
  </li>
</ul>