<ul class="list-group">
  <li class="list-group-item">
    <strong>HP: </strong>
    <span class="badge">{{pokemon.estadisticas.hp}}</span>
  </li>
  <li class="list-group-item">
    <strong>Ataque: </strong>
    <span class="badge">{{pokemon.estadisticas.ataque}}</span>
  </li>
  <li class="list-group-item">
    <strong>Defensa: </strong>
    <span class="badge">{{pokemon.estadisticas.defensa}}</span>
  </li>
  <li class="list-group-item">
    <strong>Ataque especial: </strong>
    <span class="badge">{{pokemon.estadisticas['sp.ataque']}}</span>
  </li>
  <li class="list-group-item">
    <strong>Defensa especial: </strong>
    <span class="badge">{{pokemon.estadisticas['sp.defensa']}}</span>
  </li>
  <li class="list-group-item">
    <strong>Velocidad: </strong>
    <span class="badge">{{pokemon.estadisticas.velocidad}}</span>
  </li>
  <li class="list-group-item">
    <strong>Total: </strong>
    <span class="badge">{{pokemon.estadisticas.total}}</span>
  </li>
</ul>