<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokédex</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="pokedex">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-controller="PokemonController as pkmCtrl">
      <h1>{{pkmCtrl.pokemon.nombre}} <span>#{{pkmCtrl.pokemon.id}}</span></h1>
      <h2>{{pkmCtrl.pokemon.especie}}</h2>
      <img src="images/pokemons/{{pkmCtrl.pokemon.nombre|lowercase}}.jpg">
      <!-- tabs -->
      <div ng-controller="TabsController as tabs">
        <ul>
          <li ng-class="{active:tabs.tab === 1}"><a ng-click="tabs.selectTab(1)">Pokédex</a></li>
          <li ng-class="{active:tabs.tab === 2}"><a ng-click="tabs.selectTab(2)">Estadísticas</a></li>
          <li ng-class="{active:tabs.tab === 3}"><a ng-click="tabs.selectTab(3)">Evoluciones</a></li>
        </ul>
        
        <!-- pokedex -->
        <div ng-show="tabs.tab === 1">
         <ul>
            <li>
              <strong>Tipo: </strong>
              <span class="tipo-{{tipo|lowercase}}" ng-repeat="tipo in pkmCtrl.pokemon.tipo">{{tipo}}</span>
            </li>
            <li>
              <strong>Altura: </strong>{{pkmCtrl.pokemon.altura}}
            </li>
            <li>
              <strong>Peso: </strong>{{pkmCtrl.pokemon.peso}}
            </li>
            <li>
              <strong>Habilidades: </strong>
              <ul>
                <li ng-repeat="habs in pkmCtrl.pokemon.habilidades">{{habs}}</li>
              </ul>
            </li>
          </ul> 
        </div>
        <!-- estadisticas -->
        <div ng-show="tabs.tab === 2">
          <ul>
            <li>
              <strong>HP: </strong>
              <span>{{pkmCtrl.pokemon.estadisticas.hp}}</span>
            </li>
            <li>
              <strong>Ataque: </strong>
              <span>{{pkmCtrl.pokemon.estadisticas.ataque}}</span>
            </li>
            <li>
              <strong>Defensa: </strong>
              <span>{{pkmCtrl.pokemon.estadisticas.defensa}}</span>
            </li>
            <li>
              <strong>Ataque especial: </strong>
              <span>{{pkmCtrl.pokemon.estadisticas['sp.ataque']}}</span>
            </li>
            <li>
              <strong>Defensa especial: </strong>
              <span>{{pkmCtrl.pokemon.estadisticas['sp.defensa']}}</span>
            </li>
            <li>
              <strong>Velocidad: </strong>
              <span>{{pkmCtrl.pokemon.estadisticas.velocidad}}</span>
            </li>
            <li>
              <strong>Total: </strong>
              <span>{{pkmCtrl.pokemon.estadisticas.total}}</span>
            </li>
          </ul>
        </div>
        <!-- evoluciones -->
        <div ng-show="tabs.tab === 3">
          <div ng-repeat="poke in pkmCtrl.pokemon.evoluciones">
            <a href="">
              <img src="{{poke | imageify}}">
              <p><strong>{{poke}}</strong></p>
            </a>
            <span ng-hide="$last">↓</span>
          </div>
        </div>
      </div>
      <!-- /tabs -->

      <!-- comments -->
      <div ng-controller="ComentariosController as cmtsCtrl">
        <button ng-hide="cmtsCtrl.show" ng-click="toggle()">Show comments <span>{{cmtsCtrl.comentarios.length}}</span></button>

        <div ng-show="cmtsCtrl.show">
          <h1>Comments 
            <button ng-click="cmtsCtrl.toggle()">&times;</button>
          </h1>

          <form role="form">
            
            <textarea placeholder="Please tell us what you think about {{pkmCtrl.pokemon.nombre}}"></textarea>

            <input type="email" placeholder="Escribe tu email">
            <label>
              <input id="anonymous" type="checkbox">
              Anonymous
            </label>

            <button>Comment</button>
          </form>

          <blockquote>
            <p>OMG Bulbasaur is AMAZING!!!</p>
            <footer>
              Comment by <a href="mailto:pepe@pepe.com">pepe@pepe.com</a> on <span>Sep 12, 2014, 11:00:00 PM</span>
            </footer>
          </blockquote>

          <blockquote>
            <p>Nah, I hate it -_-</p>
            <footer>
              Comment by <em>Anonymous</em> on <span>Sep 12, 2014, 11:00:00 PM</span>
            </footer>
          </blockquote>

        </div>

      </div>
      <!-- /comments -->
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
