<!-- Pokemon -->
<div ng-controller="PokemonController as pkmCtrl">
  <pokemon-nombre></pokemon-nombre>
  <pokemon-imagen></pokemon-imagen>

  <!-- tabs -->
  <div ng-controller="TabsController as tabs">
    <ul>
      <li ng-class="{active:tabs.tab === 1}"><a ng-click="tabs.selectTab(1)">Pokédex</a></li>
      <li ng-class="{active:tabs.tab === 2}"><a ng-click="tabs.selectTab(2)">Estadísticas</a></li>
      <li ng-class="{active:tabs.tab === 3}"><a ng-click="tabs.selectTab(3)">Evoluciones</a></li>
    </ul>
    
    <!-- pokedex -->
    <div ng-show="tabs.tab === 1">
      <pokemon-datos></pokemon-datos>       
    </div>
    <!-- estadisticas -->
    <div ng-show="tabs.tab === 2">
      <pokemon-estadisticas></pokemon-estadisticas> 
    </div>
    <!-- evoluciones -->
    <div ng-show="tabs.tab === 3">
      <pokemon-evoluciones></pokemon-evoluciones>
    </div>
  </div>
  <!-- /tabs -->

  <!-- comments -->
  <pokemon-comentarios></pokemon-comentarios>
  <!-- /comments -->
</div>
<!-- /pokemon -->